html {
  scroll-behavior: smooth;
}

.custom-h1 {
  font-size: 40px;
  font-weight: 700;
}

.custom-h3 {
  font-weight: 700;
  font-size: 25px;
}

.custom-h6 {
  font-weight: 400;
  font-size: 15px;
}

.custom-label {
  font-size: 17px;
  font-weight: 600;
  margin-left: 0;
}

.centralised-section {
  width: 400px;
  margin: 10px auto;
}

.custom-textbox-input,
.custom-textarea-input,
.custom-select-input {
  background-color: #ededed;
  padding-left: 20px;
  padding-right: 20px;
}

.grey-color {
  color: #9b9b9b;
}

.custom-primary-btn {
  background-color: #000000;
  color: #dfdfdf;
  width: 100%;
}

.custom-primary-btn:hover {
  color: white;
}

.custom-secondary-btn {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-weight: bold;
}

.custom-secondary-btn:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.off-white-color {
  color: #dfdfdf;
}

.custom-link-grey {
  text-decoration: none;
  color: #9b9b9b;
}

.custom-link-grey:hover {
  color: #9b9b9b;
}

.custom-link-black {
  text-decoration: none;
  color: black;
}

.custom-link-black:hover {
  color: black;
}

.custom-black-color {
  color: black;
}

.custom-form-input-info {
  color: #969696;
}

/*consultation page*/
.hr-form {
  height: 1px;
  background-color: #ccc;
}

.consultation-form-section-inactive {
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e8e8e8;
  border-radius: 11px;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
  margin: 2px;
}

.consultation-form-section-active {
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #130f26;
  color: white;
  border-radius: 11px;
  text-align: center;
  border: 2px solid black;
  display: inline-block;
  margin: 2px;
}

.item-count {
  font-size: 20px;
  margin-left: 10px;
  background: #d2d2d2;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  position: absolute;
}

.consultation-form-section-inactive:hover {
  cursor: pointer;
}

table {
  border: 1px solid #dfdfdf;
}

table > thead {
  background-color: #f2f2f2;
}

.consultation-status {
  background-color: #dfdfdf;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  width: fit-content;
}

td {
  font-weight: 500;
}

.a-link {
  color: black;
}

.a-link:hover {
  color: black;
}

@media screen and (max-width: 400px) and (min-width: 0px) {
  .centralised-section {
    width: 80%;
  }
}

.report-card {
  margin-top: 20px;
  background-color: #f7f5f5;
}

.report-header {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}

.report-title {
  font-size: 15px;
  font-weight: bold;
  color: #c9c9c9;
}

.report-details {
  font-size: 16px;
  font-weight: bold;
  color: #595959;
  margin-bottom: 15px;
  text-align: justify;
}

.menu > * {
  color: black;
}
